* {
  margin: 5px;
  box-sizing: border-box;
}

.body {
  /* height: 50vh; */
  /* background-color: aqua; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 23px;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}
header {
  /* background-color: blue; */
  padding: 2em 0 2em 0;
  margin-left: 30px;
  font-size: 30px;
  color: white;
}

.left {
  background-color: blue;
  padding: 3em 0 3em 0;
  margin-left: 30px;
  flex: 1 1 75%;
}

.right {
  /* background-color: blue; */
  padding: 3em 0 3em 0;
  flex: 1 1 25%;
}

.main {
  display: flex;
  flex: 1;
}

@media all and (max-width: 550px) {
  .main {
    flex-direction: column;
    padding: 5em 0 5em 0;
  }
}
